*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


#login{
    display: block;
    justify-content: center;
    align-items: center;
    border: 2px solid #7dabfa;
    border-radius: 10px;
    background-color: #c9e3f9;
    padding: 10px; 
    text-align: center;
    color: #091036;
    margin: 0 0 10px 0;    
    width: 300px;
    height: 50px;
}

#cadastro{
    display: none;
    border: 2px solid #7dabfa;
    border-radius: 10px;
    background-color: #c9e3f9;
    padding: 10px;
    text-align: center;
    color: #091036;
    margin: 0 0 10px 0;
    width: 300px;
    height: 50px;
}

/* paddin é p não grudar */