a{
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 10px; 
    border: solid 1px black;
}

a:hover{
    background-color: lightblue;
    scale: 1.2; 
    transition: 200ms ease-in;
}

.container {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    background-color: black;
    width: 100%;
    padding: 10px 0px 10px 10px;
    gap: 10px 
}

.container2 {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    background-color: bisque;
    gap: 10px;
}