body{
    background-color: #6f757c;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bloco1{
    background-color: rgb(68, 172, 196);
    border-radius: 10px;
    width: 800px;
    height: 760px;
    color: #ffffff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 10px;
    
}

button{
    border: none; 
    border-radius: 5px;
    background-color: #a6ef98;
    width: 200px;
    height: 30px;
    size: 20px;
    cursor: pointer;
}

#bloco2{
    color: #ffffff;
}